.nav-container{
    background-color: black;
    color: #ffffff;
    padding: 10px;
    display: flex;
    width: 100%;
    text-align: center;
}
.nav-items{
    color: white;
    margin: auto 20px;
    text-align: center;
}